<h1>Artists</h1>

<% @artists.each do |artist| %>
  <%= image_tag artist.image, :alt => artist.name, :class => 'thumb' %>
  <ul>
    <li><%= link_to artist.name, artist %></li>
    <li><%= artist.nationality %></li>
    <% if artist.dob.present? %>
      <li><%= artist.dob.strftime '%A, %B %e, %Y' %></li>
    <% end %>
    <li><%= artist.period %></li>
  </ul>
<% end %>
