<h2><%= @planet.name %></h2>
<% if @planet.image.present? %>
  <%= image_tag @planet.image, :alt => @planet.name, :class => 'feature' %>
<% end %>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Orbit</td>
      <td>Diameter</td>
      <td>Mass</td>
      <td>Moons</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @planet.name %></td>
      <td><%= @planet.orbit %></td>
      <td><%= number_to_human @planet.diameter %></td>
      <td><%= number_to_human @planet.mass %></td>
      <td><%= @planet.moons %></td>
    </tr>
  </tbody>
</table>

<div class="controls">
  <%= link_to 'Edit planet', planets_edit_path(@planet.id) %>
  <%= button_to 'Delete planet', planet_path(@planet.id), :method => 'delete' %>
</div>
